@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Doodle+Triangles&display=swap');*
{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body #Navbar1
{
    background: black !important;

    position:sticky;
    top:0;
    left:0;
    z-index: 100;
    padding: .5rem 5rem;

    border-style: none;
}
.navbar .navbar-brand
{
    font-size:25px;
    color:#0f0f0f
    
}
#navbarSupportedContent a
{
    padding-top:15px;
    color:#fff;
    border-bottom: 4px solid transparent !important;;
}
#navbarSupportedContent a:hover
{
    border-bottom: 2px solid rgb(255, 0, 34,1) !important;;

}
#navbarSupportedContent #login
{
    color:#fff;
    
}
#navbarSupportedContent #Register
{
    background: rgb(233, 9, 173);
    color:#fff;
    margin-left:5px;
    border-radius:15px ;
}


